@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	height: 100%;
	padding: 0;
	margin: 0;
	min-width: 646px;
	height: 100vh;
}
:root {
	--menu-text-blue-200: rgb(191 219 254);
	--background-blue-800: #5300e9;
	--stone: #57544e;
	--background-black-red: #2e1818;
	--tuner-color: #a92525;
	/* --tuned: #3172eb; */
	--tuned: #ebbf31ab; /*text-yellow-600*/
	--deep-red: #890019;
}

/* 
 info for background color

 color palette
 
 tuner --> bg-red-900
 header menu and footer --> bg-blue-600

*/
/* Global css */
#tempo_slider {
	background-color: var(--deep-red);
}

#tempo_slider .rangeHandle.active .rangeNub {
	background-color: var(--deep-red);
}
