@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--menu-text-blue-200: rgb(191 219 254);
	--background-blue-800: #5300e9;
	--stone: #57544e;
	--background-black-red: #2e1818;
	--tuner-color: #a92525;
}
